[Desktop Entry]
Version=1.0
Name=Recursos Educativos Agro
Comment=Recursos Educativos Agro
Exec=/usr/bin/huayra-recursos-agro
Terminal=false
Type=Application
Categories=Graphics;Huayra;
Icon=huayra-recursos-agro
